<!-- <div class="contact d-flex align-items-center justify-content-center" style="height: 30rem; width: 100%">
  <div>
    <h1>Coming soon 🚀</h1>
  </div>
</div>
 -->


 <!--==================== QUALIFICATION ====================-->
<section class="qualification section">
  <h2 class="section__title">Qualification</h2>
  <span class="section__subtitle">My personal journey</span>

  <div class="qualification__container container">
    <div class="qualification__tabs">
      <div class="qualification__button button--flex qualification__active" data-target='#education'>
        <i class="uil uil-graduation-cap qualification__icon"></i>
        Education
      </div>

      <div class="qualification__button button--flex" data-target='#work'>
        <i class="uil uil-briefcase-alt"></i>
        Work
      </div>
    </div>

  <div class="qualification__section">
  <!--==================== QUALIFICATION====CONTENT==1====================-->
    <div class="qualification__content qualification__active" data-content id="education">
      <!--==================== QUALIFICATION==1====================-->
      <div class="qualification__data">
        <div>
          <h3 class=qualification__title>Graduated Fullstack developer</h3>
          <a href="https://www.lewagon.com/london/web-development-course/part-time" target="_blank"><span id="website">Le-Wagon London</span></a>
          <a download="" href="assets/pdf/fullstack-syllabus.pdf" id="syllabus">
              Download syllabus <i class="uil uil-download-alt button__icon"></i>
          </a>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            Jan 2021 June 2021
          </div>
        </div>

        <div>
          <span class="qualification__rounder"></span>
          <span class="qualification__line"></span>
        </div>
      </div>

     <!--==================== QUALIFICATION==2====================-->
      <div class="qualification__data">
        <div></div>

        <div>
          <span class="qualification__rounder"></span>
          <!-- <span class="qualification__line"></span> -->
        </div>

        <div>
          <h3 class=qualification__title>MSc Finance</h3>
          <span class="qualification__subtitle">Napier University - Edinburgh, Scotland</span>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            Jan 2015 Jun 2015
          </div>
        </div>
      </div>

      <!--==================== QUALIFICATION==3====================-->
      <div class="qualification__data">
        <div>
          <h3 class=qualification__title>Master of Finance</h3>
          <span class="qualification__subtitle">ESDES School of Business and Management - Lyon, France</span>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            2014-2015
          </div>
        </div>

        <div>
          <span class="qualification__rounder"></span>
          <span class="qualification__line"></span>
        </div>
      </div>

       <!--==================== QUALIFICATION==4====================-->
      <div class="qualification__data">
        <div></div>

        <div>
          <span class="qualification__rounder"></span>
          <span class="qualification__line"></span>
        </div>

        <div>
          <h3 class=qualification__title>BA Management</h3>
          <span class="qualification__subtitle">Savonia University of Applied Sciences - Kuopio, Finland</span>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            2010-2013
          </div>
        </div>
      </div>

    </div>
    <!--==================== QUALIFICATION==CONTENT==2====================-->
    <div class="qualification__content" data-content id="work">

      <div class="qualification__data">
        <div>
          <h3 class=qualification__title>Project Manager (Finance)</h3>
          <span class="qualification__subtitle">Schönenborn Immobilien Beratungs GmbH - Berlin</span>

          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            Oct 2019 Jan 2021
          </div>
        </div>

        <div>
          <span class="qualification__rounder"></span>
          <span class="qualification__line"></span>
        </div>
      </div>

     <!--==================== QUALIFICATION==2====================-->
      <div class="qualification__data">
        <div></div>

        <div>
          <span class="qualification__rounder"></span>
          <span class="qualification__line"></span>
        </div>

        <div>
          <h3 class=qualification__title>Capital Advisory Manager</h3>
          <span class="qualification__subtitle">Capitalise.com - London</span>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            Apr 2018 Sep 2019
          </div>
        </div>
      </div>

      <!--==================== QUALIFICATION==3====================-->
      <div class="qualification__data">
        <div>
          <h3 class=qualification__title>Business Development Manager</h3>
          <span class="qualification__subtitle">DueDill - London</span>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            2014-2016
          </div>
        </div>

        <div>
          <span class="qualification__rounder"></span>
          <span class="qualification__line"></span>
        </div>
      </div>

       <!--==================== QUALIFICATION==4====================-->
      <div class="qualification__data">
        <div></div>

        <div>
          <span class="qualification__rounder"></span>
          <!-- <span class="qualification__line"></span> -->
        </div>

        <div>
          <h3 class=qualification__title>Headhunter</h3>
          <span class="qualification__subtitle">Carisbrook Partners - London</span>
          <div class="qualification__calender">
            <i class="uil uil-calender"></i>
            2010-2013
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
