<!-- <div class="contact d-flex align-items-center justify-content-center" style="height: 30rem; width: 100%">
  <div>
    <h1>Coming soon 🚀</h1>
  </div>
</div>
 -->

 <!--==================== ABOUT ====================-->
 <section class="about section" id="about">
     <h2 class="section__title" style="text-align: center; margin-top:80px;">About</h2>
     <h6 class="section__subtitle mb-5" style="text-align: center;">My introduction</h6>

     <div class="about__container container_about grid d-flex justify-content-between">
         <img src="https://res.cloudinary.com/alexmry/image/upload/v1634041666/profil%20picture%20Alex/WhatsApp_Image_2021-10-12_at_13.19.27_o2cyvo.jpg" alt="" class="about__img mr-5">

         <div class="about__data">
             <p class="about__description mb-4">Finance professional, with 5 years experince in FX & IR con and project delivery, who recently pivoted into web development to build things and help society!
             </p>

             <div class="about__info">
                 <div>
                     <span class="about__info-title">05+</span>
                     <span class="about__info-name">Years <br> experience</span>
                 </div>
                 <div>
                     <span class="about__info-title">03+</span>
                     <span class="about__info-name">Completed <br> Fullstack projects</span>
                 </div>

                 <div>
                     <span class="about__info-title">05+</span>
                     <span class="about__info-name">Companies <br> worked</span>
                 </div>
             </div>

             <div class="about__buttons__container d-flex justify-content-around">
               <div class="about__buttons">
                   <!--==================== Change your CV ====================-->
                   <a download="" href="https://res.cloudinary.com/alexmry/image/upload/v1634037566/profil%20picture%20Alex/Screenshot_2021-10-12_at_12.18.49_fnujmp.png" target="_blank" class="cv button button--flex">
                       See CV <i class="uil uil-search button__icon"></i>
                   </a>
               </div>
               <div class="about__buttons">
                   <!--==================== Change your CV ====================-->
                   <a download="" href="https://res.cloudinary.com/alexmry/image/upload/v1634037566/profil%20picture%20Alex/Screenshot_2021-10-12_at_12.18.49_fnujmp.png" target="_blank" class="cv button button--flex">
                       Download CV <i class="uil uil-download-alt button__icon"></i>
                   </a>
               </div>
             </div>
         </div>
     </div>
 </section>

<script>
  const tabs = document.querySelectorAll('[data-target]'),
        tabContents = document.querySelectorAll('[data-content]')

  tabs.forEach(tab =>{
    tab.addEventListener('click', () =>{
      const target = document.querySelector(tab.dataset.target)

      tabContents.forEach(tabContent =>{
        tabContent.classList.remove('qualification__active')
      })
      target.classList.add('qualification__active')
      tab.forEach(tab =>{
        tab.classList.remove('qualification__active')
      })
      tab.classList.add('qualification__active')
    })
  });

</script>

 <!--==================== QUALIFICATION ====================-->
<main class="main">
  <section class="qualification section">
    <h2 class="section__title mt-5" style="text-align: center;">Qualification</h2>
    <h6 class="section__subtitle mb-4" style="text-align: center;">My personal journey</h6>

    <div class="qualification__container container_qualifications" style="margin-bottom: 6rem">
      <div class="qualification__tabs mb-4">
        <div class="qualification__button button--flex qualification__active" data-target='#education'>
          <i class="uil uil-graduation-cap qualification__icon"></i>
          Education
        </div>

        <div class="qualification__button button--flex mt-3" data-target='#work'>
          <i class="uil uil-briefcase-alt"></i>
          Work
        </div>
      </div>

      <div class="qualification__section">
      <!--==================== QUALIFICATION====CONTENT==1====================-->
        <div class="qualification__content qualification__active" data-content id="education">
          <!--==================== QUALIFICATION==1====================-->
          <div class="qualification__data">
            <div>
              <h3 class=qualification__title>Graduated Fullstack developer</h3>
              <a href="https://www.lewagon.com/london/web-development-course/part-time" target="_blank"><span id="website">Le-Wagon London</span></a>
              <a download="" href="https://res.cloudinary.com/alexmry/image/upload/v1634037566/profil%20picture%20Alex/Screenshot_2021-10-12_at_12.18.49_fnujmp.png" target="_blank" id="syllabus">
                  Download syllabus <i class="uil uil-download-alt button__icon"></i>
              </a>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                Jan 2021 June 2021
              </div>
            </div>

            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>

         <!--==================== QUALIFICATION==2====================-->
          <div class="qualification__data">
            <div></div>

            <div>
              <span class="qualification__rounder"></span>
              <!-- <span class="qualification__line"></span> -->
            </div>

            <div>
              <h3 class=qualification__title>MSc Finance</h3>
              <span class="qualification__subtitle">Napier University - Edinburgh, Scotland</span>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                Jan 2015 Jun 2015
              </div>
            </div>
          </div>

          <!--==================== QUALIFICATION==3====================-->
          <div class="qualification__data">
            <div>
              <h3 class=qualification__title>Master of Finance</h3>
              <span class="qualification__subtitle">ESDES School of Business and Management - Lyon, France</span>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                2014-2015
              </div>
            </div>

            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>

           <!--==================== QUALIFICATION==4====================-->
          <div class="qualification__data">
            <div></div>

            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>

            <div>
              <h3 class=qualification__title>BA Management</h3>
              <span class="qualification__subtitle">Savonia University of Applied Sciences - Kuopio, Finland</span>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                2010-2013
              </div>
            </div>
          </div>

        </div>
        <!--==================== QUALIFICATION==CONTENT==2====================-->
        <div class="qualification__content" data-content id="work">

          <div class="qualification__data">
            <div>
              <h3 class=qualification__title>MO and Investment Solutions Specialist (Finance)</h3>
              <span class="qualification__subtitle">CA Indosuez Wealth Management - Luxembourg</span>

              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                May 2019 Jan 2021
              </div>
            </div>

            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>

         <!--==================== QUALIFICATION==2====================-->
          <div class="qualification__data">
            <div></div>

            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>

            <div>
              <h3 class=qualification__title>Middle & Back Office Associate Manager</h3>
              <span class="qualification__subtitle">Societe Generale Bank & Trust - Luxembourg</span>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                Apr 2018 Sep 2019
              </div>
            </div>
          </div>

          <!--==================== QUALIFICATION==3====================-->
          <div class="qualification__data">
            <div>
              <h3 class=qualification__title>Corporate Sales</h3>
              <span class="qualification__subtitle">RationalFX - London</span>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                2014-2016
              </div>
            </div>

            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>

           <!--==================== QUALIFICATION==4====================-->
          <div class="qualification__data">
            <div></div>

            <div>
              <span class="qualification__rounder"></span>
              <!-- <span class="qualification__line"></span> -->
            </div>

            <div>
              <h3 class=qualification__title>FX & IR Advisor</h3>
              <span class="qualification__subtitle">Finance Active - Paris</span>
              <div class="qualification__calender">
                <i class="uil uil-calender"></i>
                2010-2013
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
