<!-- <h1>Contact me 🚀</h1> -->
<div class="contact d-flex align-items-center justify-content-center" style="height: 30rem; width: 100%">
  <div>
    <p>alexandreplmorey@gmail.com</p>
    <p style="text-align: center">+33 6 21 21 16 73</p>
  </div>
</div>

