<!-- <h1>Contact me 🚀</h1> -->
<div class="contact d-flex justify-content-center align-items-center" style="height: 100%; width: 100%">
  <div>
    <p>alexandreplmorey@gmail.com</p>
    <p>+33 6 21 21 16 73</p>
  </div>
</div>

