<div class="container">
  <div class="description">
    <h1>Hello! I am Alexandre</h1>
    <p>I am a full stack web developer based in London.</p>
  </div>
  <img src="../assets/images/Alexandre MOREY 6405.jpg" alt="Profil Picture">
  <%= cl_image_tag("https://res.cloudinary.com/alexmry/image/upload/v1631022152/Alexandre_MOREY_6405_rcj9xs.jpg",
      width: 400, height: 300, crop: :fill) %>
</div>
