/*==================== ABOUT ====================*/
.container_about {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.about__img {
  width: 260px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: initial;
  margin-bottom: var(--mb-2-4);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title, .about__info-name {
  display: block;
  text-align: center;
}

.cv {
  color: white;
}

.cv:hover {
  text-decoration: none;
  color: white;
}

.about__buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  display: inline-block;
  background-color: #6D757D;
  color: white;
  padding: .25rem;
  border-radius: .17rem;
}

.about__buttons:hover {
  background-color: #555C62;
}

// #syllabus {
//   display: inline-flex;
//   align-items: center;
//   display: inline-block;
//   background-color: #6D757D;
//   color: #FFF;
//   padding: .25rem;
//   border-radius: .17rem;
//   font-weight: var(--font-small);
// }

  // display: flex;
  // justify-content: center;







