.banner-right {
  // background-color: grey;
  background-image: linear-gradient(to right, #F4F4F4 72%, #CFD3D8 72%, #CFD3D8);
}


.banner-left {
  background-image: linear-gradient(to right, #CFD3D8 28%, #F4F4F4 28%, #F4F4F4);
}

.footer {
  background-color: #6D757D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 42px;
  color: white;
  margin-letf: 20px;
  margin-right: 20px;
}
















